<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Uprawnienia -->
    <uses-permission android:name="android.permission.CAMERA"
        android:maxSdkVersion="33"
        tools:ignore="MaxSdkVersion,ManifestDescription"
        android:description="@string/camera_permission_rationale"
        />
    <uses-permission android:name="android.permission.INTERNET" />
    <permission
        android:name="com.tomato.sayitagain.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>

    <!-- Funkcje sprzętowe -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SayItAgain"
        android:usesCleartextTraffic="false">

           <!-- Ekran startowy -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SayItAgain.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pozostałe aktywności -->
        <activity android:name=".HelpActivity" />
        <activity android:name=".RulesActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".QrScannerActivity"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"
            />
        <activity android:name=".AppRulesActivity" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:theme="@style/Theme.SayItAgain.PrivacyPolicy"
            android:label="Wróć do aplikacji" />
        <activity
            android:name=".CopyrightActivity"
            android:theme="@style/Theme.SayItAgain.PrivacyPolicy"
            android:label="Wróć do aplikacji" />


        <!-- Podsumowanie -->
        <activity
            android:name=".SummaryActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

    </application>
</manifest>